@model IEnumerable<Factory.Models.Machine>

<div class="content">
    <h1>Machines</h1>
    <div class="columns">
        @foreach (var machine in Model)
        {
            @Html.ActionLink($"{machine.Name}", "Details", "Machines", new { id = machine.MachineId }, new { @class = "card" })
        }
    </div>
    <div class="button-control">
        @Html.ActionLink("Add New Machine", "Create", "Machines", null, new { @class = "btn btn-green" })
        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-blue" })
    </div>
</div>