@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to Dr. Sillystringz's Factory</h1>

<p>This application helps manage machine repairs at Dr. Sillystringz's Factory.</p>

<p>
    @Html.ActionLink("View Engineers", "Index", "Engineers") |
    @Html.ActionLink("View Machines", "Index", "Machines")
</p>